body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  flex: 1 0 auto;
}

.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e53935 !important;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e53935 !important;
  box-shadow: none !important;
}

.container {
  margin-top: auto;
  margin-bottom: auto;

}
@media only screen and (min-width: 601px) {
  .before {
      height: 30px;
  }
}

@media only screen and (max-width: 422px) {
  .material-icons {
      display: none;
  }
}

.spinner-blue-only {
  border-color: #b71c1c !important;
}

.preloader-wrapper.big.extra {
    width: 90px;
    height: 90px;
}
